@import "./settings";

body {
    color: #a9a7a7;
    background: #000;
    margin: 20px;
}

.container {
    margin: 0 auto;
    padding: 20px;

}

.logo {
    @include verticalCenter;
    margin: 20px;
}

.logo-network {
    width: 30%;
    @include verticalCenter;

}

.title {
    @include verticalCenter;

}

.navogation {
    color: #a9a7a7;

}